{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>About Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cumque exercitationem magnam modi non soluta velit
	voluptate? Architecto asperiores debitis deserunt, dolorum earum impedit incidunt ipsum iste laborum nam
	necessitatibus non nulla officia officiis possimus quae quaerat quidem quisquam sapiente ullam unde veniam
	veritatis, vitae? Commodi cumque debitis enim explicabo ipsa itaque libero, odit perferendis quo tempore? Adipisci
	aliquam amet at consequuntur debitis dolores dolorum ea eaque impedit maxime minus nemo provident, quidem quisquam
	repellat repellendus tenetur vero? Adipisci, aliquam assumenda doloremque exercitationem explicabo facere fuga harum
	iure labore minima minus perferendis perspiciatis possimus quae quaerat quis tempora vel voluptatibus.</p>
{% endblock %}