name: 01-docker_build.yaml

on:
  workflow_dispatch:
    inputs:
      tag_version:
        description: Your tag version (e.g., 0.0.5)
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: show folders
        run: ls -la Multi_Build/
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: Multi_Build
          push: true
          tags: |
            amidamri/flask_example:v${{ inputs.tag_version }}
            amidamri/flask_example:latest